---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import heroImage from "@images/heroImage.svg";
import BANNER from "@images/website-banner.png";
import logo from "@images/Logo_Game26_New_Colors.svg";
import Card from "@components/Card.astro";
import Sponsors from "@components/Sponsors.astro";

import LOL from "@images/lol.png";
import ROCKET_LEAGUE from "@images/rocket-league.png";
import SSBU from "@images/ssbu-white.png";
import MK8 from "@images/mk8.png";
import FC26 from "@images/fc26.png";
import VALO from "@images/valo.png";

import LOL_BACKGROUND from "@images/lol.jpg";
import ROCKET_LEAGUE_BACKGROUND from "@images/rocket-league.jpg";
import SSBU_BACKGROUND from "@images/ssbu.jpg";
import MK8_BACKGROUND from "@images/mk8.jpg";
import FC26_BACKGROUND from "@images/fc26.jpg";
import VALO_BACKGROUND from "@images/valo.jpg";

import Wavenet from "@images/sponsors/wavenet.png";
import Weloveat from "@images/sponsors/weloveat.png";
import SopraSteria from "@images/sponsors/sopra-steria.png";
import YouFM from "@images/sponsors/youfm.png";
import Walga from "@images/sponsors/walga.png";
import Noctua from "@images/sponsors/noctua.png";
import JustOneByte from "@images/sponsors/j1b.png";
import ORE from "@images/sponsors/ore.png";
import RomeoPizza from "@images/sponsors/romeopizza.png";
import Necko from "@images/sponsors/necko.png";
import DSWallonie from "@images/sponsors/dswallonie.jpg";
import LocaCopy from "@images/sponsors/locacopy.png";
import LesBuses from "@images/sponsors/yaya.png";

const tournois = [
  {
    name: "League of Legends",
    image: LOL,
    background: LOL_BACKGROUND,
    description:
      "Une draft en 5v5 à jusqu'à 12 équipes. Venez montrer vos talents sur la faille de l'invocateur !",
    link: "https://forms.gle/TCq3nJoaeTTR9Etf7",
  },
  {
    name: "VALORANT",
    image: VALO,
    background: VALO_BACKGROUND,
    description:
      "Un tournoi Valorant détente en draft de 5 joueurs. Max 12 équipes",
    link: "https://forms.gle/ASyt2j66R74RyQiQ9",
  },
  {
    name: "Super Smash Bros Ultimate",
    image: SSBU,
    background: SSBU_BACKGROUND,
    description:
      "Un tournoi en 1v1 où seul le meilleur combattant triomphera ! Choisissez votre personnage, enchaînez les combos et envoyez vos adversaires hors de l'arène.",
    link: "https://forms.gle/LM5pW4jErxKxRD9f8",
  },
  {
    name: "FIFA 26",
    image: FC26,
    background: FC26_BACKGROUND,
    description:
      "Compétition à 16 avec matches de poules et phases finale. Montre le meilleur de toi même sur le terrain !",
    link: "https://forms.gle/u8tgex7kmPoprAwQA",
  },
];

const sponsors = [
  
  {
    name: "DS Wallonie",
    url: "https://www.dswallonie.be/fr/",
    image: DSWallonie,
  },
  {
    name: "Noctua",
    url: "https://noctua.at/fr/",
    image: Noctua,
  },
];

const oldSponsors = [
  {
    name: "Les Buses",
    url: "#",
    image: LesBuses,
  },
  { 
    name: "Necko Technologies", 
    url: "https://www.necko.tech/", 
    image: Necko 
  },
  {
    name: "Loca Copy",
    url: "https://www.locacopy.be/",
    image: LocaCopy,
  },
  {
    name: "Just One Byte",
    url: "https://j1b.be/",
    image: JustOneByte,
  },
  {
    name: "ORE",
    url: "https://www.facebook.com/ORE.UMONS/",
    image: ORE,
  },
  {
    name: "Wavenet",
    url: "https://wavenet.be/",
    image: Wavenet,
  },
  {
    name: "Weloveat",
    url: "https://weloveat.be/",
    image: Weloveat,
  },
  {
    name: "Sopra Steria",
    url: "https://soprasteria.com/",
    image: SopraSteria,
  },
  {
    name: "YouFM",
    url: "https://youfm.be/",
    image: YouFM,
  },
  {
    name: "Walga",
    url: "https://www.walga.be/",
    image: Walga,
  },
  {
    name: "Romeo pizza",
    url: "https://romeopizza.be/",
    image: RomeoPizza,
  },
];
---

<Layout title="Accueil">
  <main>
    <section
      class="relative overflow-hidden bg-gradient-to-br from-indigo-950 to-indigo-900 text-white"
    >
      <div
        class="mx-auto grid p-4 pb-6 lg:container sm:grid-cols-[1.2fr_minmax(0,1fr)]"
      >
        <div class="z-10 flex items-center py-6 text-lg xl:text-xl">
          <div>
            <h1
              class="pb-3 align-text-top text-4xl font-semibold xl:pb-4 xl:text-5xl"
            >
              Une LAN par des étudiants pour des étudiants !
            </h1>
            <p class="pb-4 xl:pb-6">Envie d'y participer ?</p>
            <a
              href="https://www.facebook.com/events/827729983350631/"
              target="_blank"
              class="inline-block rounded-lg bg-gradient-to-r from-amber-500 to-orange-500 px-4 py-2 font-semibold text-white transition duration-150 hover:bg-blue-50 hover:text-indigo-950"
            >
              Inscris-toi !
            </a>
          </div>
        </div>
        <Image
          class="z-10 h-full w-full object-fill drop-shadow-lg"
          src={heroImage}
          alt={"Illustration d'une LAN Party - Game 26"}
          format="webp"
        />
        {
          BANNER ? (
            <div class="absolute inset-0">
              <Image
                class="h-full w-full object-cover opacity-20"
                src={BANNER}
                alt="Game 26"
                quality={30}
                format="webp"
              />
            </div>
          ) : null
        }
      </div>
    </section>
    <section
      class="mx-auto grid grid-rows-2 items-center gap-4 px-4 py-10 lg:container sm:grid-cols-[1fr_auto] sm:grid-rows-1"
    >
      <div class="space-y-1">
        <h2 class="pb-2 text-4xl font-semibold">Le Game 26</h2>
        <p>
          Cette année encore, le Cercle Magellan remet le couvert et a le
          plaisir de vous annoncer la 26ème édition de sa LAN party, le Game !
        </p>
        <p>
          Le Game est une LAN party organisée par le Cercle Magellan, le Cercle
          informatique étudiant de la Faculté Polytechnique de Mons. Cet
          événement est ouvert à tous ! Que vous soyez étudiant ou non, vous
          êtes les bienvenus pour participer !
        </p>
        <p>
          Cette édition du Game se déroulera du <strong
            >vendredi 27 février 2026 à 18h au dimanche 1er mars 2026 à 16h</strong
          >.
        </p>
        <p>
          Pour plus d'informations, rendez-vous sur{" "}
          <a
            href="https://www.facebook.com/events/827729983350631/"
            class="underline duration-150 hover:translate-x-2 hover:opacity-90"
          >
            la page facebook de l'événement.</a
          >
        </p>
      </div>
      <Image
        class="mx-auto max-w-64"
        src={logo}
        alt="Game 26"
        quality={30}
        format="webp"
      />
    </section>
    <section class="bg-gradient-to-br from-indigo-950 to-indigo-900 text-white">
      <div class="mx-auto px-4 py-10 lg:container">
        <h2 id="tournois" class="pb-4 text-4xl font-semibold">
          À vous de jouer !
        </h2>
        <div class="grid items-stretch gap-4 sm:grid-cols-2">
          {
            tournois.map((tournoi) => (
              <Card
                title={tournoi.name}
                image={tournoi.image}
                background={tournoi.background}
                description={tournoi.description}
                link={tournoi.link}
              />
            ))
          }
        </div>
      </div>
    </section>
    <section class="py-10">
      <div
        class="mx-auto flex flex-col items-center justify-center gap-6 px-4 pb-6 lg:container"
      >
        <h2 id="sponsors" class="text-4xl font-semibold">
          Merci à nos sponsors !
        </h2>
        <Sponsors sponsors={sponsors} />

        <a
          class="inline-block rounded-lg bg-gradient-to-r from-amber-500 to-orange-500 px-4 py-2 font-semibold text-white transition duration-150 hover:bg-blue-50 hover:text-indigo-950"
          href="mailto:fpms.magellan@umons.ac.be">Devenir sponsor</a
        >
      </div>
    </section>
  </main>
</Layout>
